import init.universal5260.usb.rc
import init.wifi.rc
import init.baseband.rc

on init
# Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 vibe vibe
    restorecon /dev/pipes

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/media_rw/extSdCard 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveA 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveB 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveC 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveD 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveE 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveF 0700 media_rw media_rw

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # map "real" external storages paths also in same way. backwards compatibility.
    symlink /storage/extSdCard /mnt/extSdCard
    symlink /storage/UsbDriveA /mnt/UsbDriveA
    symlink /storage/UsbDriveB /mnt/UsbDriveB
    symlink /storage/UsbDriveC /mnt/UsbDriveC
    symlink /storage/UsbDriveD /mnt/UsbDriveD
    symlink /storage/UsbDriveE /mnt/UsbDriveE
    symlink /storage/UsbDriveF /mnt/UsbDriveF

    export SECONDARY_STORAGE /storage/extSdCard

    mkdir /storage/extSdCard 0700 root root
    mkdir /storage/UsbDriveA 0700 root root
    mkdir /storage/UsbDriveB 0700 root root
    mkdir /storage/UsbDriveC 0700 root root
    mkdir /storage/UsbDriveD 0700 root root
    mkdir /storage/UsbDriveE 0700 root root
    mkdir /storage/UsbDriveF 0700 root root

# Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 vibe vibe
    restorecon /dev/pipes

on post-fs-data
   # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    setprop vold.post_fs_data_done 1

    # Added for TZ Playready DRM Support
    mkdir /efs/drm 0700 drm system
    mkdir /efs/drm/playready 0775 drm system

    # Multimedia property for Smart View
    setprop media.enable-commonsource true

# Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttySAC3
    chmod 0600 /dev/ttySAC3
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    # For kernel lock in BT/WiFi race condtion
    chmod 0600 /dev/btlock
    chown bluetooth bluetooth /dev/btlock

# YAAS(Yamaha Android Audio System) uses.
    mkdir /data/ymc 0775 system system

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
#    setprop ro.radio.noril yes

    # Reduce reserved lowmem from ~48MB to ~12MB
    write /proc/sys/vm/lowmem_reserve_ratio "128 128"

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

# Vibetonz
    chmod 0660 /dev/tspdrv
    chown vibe vibe /dev/tspdrv
    
# mobicore
    mkdir /data/app/mcRegistry 0775 system system
    chmod 0700 /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chmod 0660 /dev/s5p-smem    
    chown system system /dev/mobicore
    chown radio system /dev/mobicore-user
    chown system system /dev/s5p-smem

# DRK permission
    mkdir /efs/prov 0770 radio system
    chown radio system /efs/prov_data
    chmod 0770 /efs/prov_data
    chown radio system /efs/prov_data/dev_root
    chmod 0770 /efs/prov_data/dev_root
    chown radio system /efs/prov_data/knox
    chmod 0770 /efs/prov_data/knox
    chown radio system /efs/prov_data/dev_root/dev_root.dat
    chmod 0640 /efs/prov_data/dev_root/dev_root.dat
    chown radio system /efs/prov/libdevkm.lock
    chmod 0660 /efs/prov/libdevkm.lock
    write /efs/prov/ffffffff00000000000000000000000c.tlbin 0
    chown radio system /efs/prov/ffffffff00000000000000000000000c.tlbin
    chmod 0660 /efs/prov/ffffffff00000000000000000000000c.tlbin

# CS socket
    mkdir /dev/socket/cs_socket 0770 system system

# Permissions for TouchScreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/input/input1/enabled
    chmod 0660 /sys/class/input/input1/enabled
    chown system system /sys/class/input/input2/enabled
    chmod 0660 /sys/class/input/input2/enabled

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system system /sys/devices/virtual/sec/sec_touchkey/brightness

    chown system system /sys/class/input/input8/enabled
    chmod 0660 /sys/class/input/input8/enabled
    chown system system /sys/class/input/input9/enabled
    chmod 0660 /sys/class/input/input9/enabled
	chown system system /sys/class/input/input10/enabled
    chmod 0660 /sys/class/input/input10/enabled
    chown system system /sys/class/input/input11/enabled
    chmod 0660 /sys/class/input/input11/enabled

# Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172,115

# Change permission for tracing
    chown root shell /sys/kernel/debug/tracing/events/cpufreq_interactive_eagle/enable
    chmod 0664 /sys/kernel/debug/tracing/events/cpufreq_interactive_eagle/enable

# Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpufreq/interactive/cpu_util
    chmod 0440 /sys/devices/system/cpu/cpufreq/interactive/cpu_util

    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/input_boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive_eagle/io_is_busy
    chown system system /sys/devices/system/cpu/cpufreq/interactive_eagle/cpu_util
    chmod 0440 /sys/devices/system/cpu/cpufreq/interactive_eagle/cpu_util

    chown system system /sys/kernel/hmp/boost
    chmod 0660 /sys/kernel/hmp/boost
    chown system system /sys/kernel/hmp/boostpulse
    chmod 0660 /sys/kernel/hmp/boostpulse
    chown system system /sys/kernel/hmp/boostpulse_duration
    chmod 0660 /sys/kernel/hmp/boostpulse_duration
    chown system system /sys/kernel/hmp/frequency_invariant_load_scale
    chmod 0660 /sys/kernel/hmp/frequency_invariant_load_scale
    chown system system /sys/kernel/hmp/down_threshold
    chmod 0660 /sys/kernel/hmp/down_threshold
    chown system system /sys/kernel/hmp/up_threshold
    chmod 0660 /sys/kernel/hmp/up_threshold
    chown system system /sys/kernel/hmp/load_avg_period_ms
    chmod 0660 /sys/kernel/hmp/load_avg_period_ms

# Sensors
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/prox_thresh
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
# Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name
# Magnetic_sensor
    chown system radio /dev/akm09911
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
# NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn547
    chown nfc nfc /dev/pn547
    mkdir /data/nfc 0700 nfc nfc
    mkdir /data/nfc/param 0700 nfc nfc
# CPU Idle
    chown system radio /sys/devices/system/cpu/cpu0/cpuidle/state2/disable
    chown system radio /sys/module/cpuidle/parameters/enable_mask
# Set up nfc test option
    setprop snfc.test.fwdownload 2
    setprop snfc.test.power      sec
    setprop snfc.test.tag        sec

# MHL factory test
    chown system radio /sys/class/mhl/mhl_on
    chown system radio /sys/class/mhl/timing

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

# Permissions for usb_lock
    chown system radio /sys/class/android_usb/android0/usb_lock

# GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/checked_sleepGPIO

# PMS DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chown radio system /sys/power/enable_dm_hotplug
    chmod 0664 /sys/power/cpufreq_table
    chmod 0664 /sys/power/cpufreq_max_limit
    chmod 0664 /sys/power/cpufreq_min_limit
    chmod 0664 /sys/power/enable_dm_hotplug
    chown radio system /sys/class/devfreq/exynos5-devfreq-mif/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-devfreq-int/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-devfreq-mif/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-devfreq-int/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-devfreq-mif/available_frequencies
    chown radio system /sys/class/devfreq/exynos5-devfreq-int/available_frequencies
    chown radio system /sys/class/devfreq/exynos5-devfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-devfreq-int/min_freq
    chown radio system /sys/class/devfreq/exynos5-devfreq-mif/max_freq
    chown radio system /sys/class/devfreq/exynos5-devfreq-int/max_freq
    chown radio system /sys/devices/platform/mali.0/dvfs_table
    chown radio system /sys/devices/platform/mali.0/dvfs_min_lock
    chown radio system /sys/devices/platform/mali.0/dvfs_max_lock
    chown radio system /sys/class/thermal/thermal_zone0/boost_mode
    chmod 664 /sys/class/devfreq/exynos5-devfreq-mif/available_frequencies
    chmod 664 /sys/class/devfreq/exynos5-devfreq-int/available_frequencies
    chmod 664 /sys/class/devfreq/exynos5-devfreq-mif/min_freq
    chmod 664 /sys/class/devfreq/exynos5-devfreq-int/min_freq
    chmod 664 /sys/class/devfreq/exynos5-devfreq-mif/max_freq
    chmod 664 /sys/class/devfreq/exynos5-devfreq-int/max_freq
    chmod 664 /sys/devices/platform/mali.0/dvfs_table
    chmod 664 /sys/devices/platform/mali.0/dvfs_min_lock
    chmod 664 /sys/devices/platform/mali.0/dvfs_max_lock
    chmod 664 /sys/class/thermal/thermal_zone0/boost_mode

on fs
# Support Preload install apks
    mkdir /preload 0771 system system

    mount_all /fstab.universal5260
    setprop ro.crypto.fuse_sdcard true

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/lcd/panel/temperature

# Audio (Earjack)
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state

# create data/gps for GPS daemon
    chown root system /dev/ttySAC0
    chmod 0660 /dev/ttySAC0
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value

# make sure data_system dir and perms are properly set.
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps

# delete gps Factory file
    rm /data/gps_started
    rm /data/glonass_started
    rm /data/beidou_started
    rm /data/smd_started
    rm /data/sv_cno.info

# Permissions Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_quickshot
    chown system radio /sys/class/camera/flash/rear_flash
    chown system radio /sys/class/camera/rear/rear_camclose
    chown system radio /sys/class/camera/rear/rear_checkApp
    chown media system /sys/class/camera/rear/rear_cancelwait
#    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/lcd/panel/temperature

# for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# MTP permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l -r /data/media /mnt/shell/emulated
    class late_start
    oneshot

service fuse_extSdCard /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d -f /mnt/media_rw/extSdCard /storage/extSdCard
    class late_start
    disabled
    oneshot

service fuse_UsbDriveA /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveA /storage/UsbDriveA
    class late_start
    disabled
    oneshot

service fuse_UsbDriveB /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveB /storage/UsbDriveB
    class late_start
    disabled
    oneshot

service fuse_UsbDriveC /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveC /storage/UsbDriveC
    class late_start
    disabled
    oneshot

service fuse_UsbDriveD /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveD /storage/UsbDriveD
    class late_start
    disabled
    oneshot

service fuse_UsbDriveE /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveE /storage/UsbDriveE
    class late_start
    disabled
    oneshot

service fuse_UsbDriveF /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveF /storage/UsbDriveF
    class late_start
    disabled
    oneshot

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    seclabel u:r:watchdogd:s0
    disabled

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    ioprio be 0

# Vibetonz
service immvibed /system/bin/immvibed
    class core
    user vibe
    group vibe
    oneshot

# on userdebug and eng builds, enable kgdb on the serial console
on property:ro.debuggable=1
    write /sys/module/kgdboc/parameters/kgdboc ttyFIQ1
    write /sys/module/fiq_debugger/parameters/kgdb_enable 1

# CS service
service cs_service /system/bin/cs
    class main
    user system
    group system
    disabled

on property:sys.mobicoredaemon.enable=true
    start cs_service

# Vibetonz
service immvibed /system/bin/immvibed
    class core
    user vibe
    group vibe
    oneshot

service mobex-daemon /system/bin/npsmobex
    class main
    user system
    group system radio inet sdcard_rw shell

# service for TZPR provisioning version check app
service scranton_RD /system/bin/scranton_RD
     class main
     user root
     disabled
     oneshot

# Kick watchdogd if debug_level is low
on property:ro.debug_level=0x4f4c
    start watchdogd

# start for TZPR provisioning version check app
on property:sys.mobicoredaemon.enable=true
    start scranton_RD

# MobiCore startup
service mobicore /system/bin/mcDriverDaemon -r /system/app/FFFFFFFF000000000000000000000001.drbin -r /system/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin
    class core
    user system
    group system

# Secure Storage startup
service secure_storage /system/bin/secure_storage_daemon
    class core
    user system
    group system
    disabled

on property:ro.securestorage.support=true
    mkdir /dev/.secure_storage
    chmod 0711 /dev/.secure_storage
    chown system system /dev/.secure_storage
    restorecon -R /dev/.secure_storage
    start secure_storage

# Bluetooth LE 2 wired Test
service LE_dut_cmd_on /system/bin/bttestintf enable
    group bluetooth net_bt_admin
    disabled
    oneshot

service LE_dut_cmd_off /system/bin/bttestintf disable
    group bluetooth net_bt_admin
    disabled
    oneshot

service bttestdaemon /system/bin/bttestd
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# Bluetooth dhcpcd config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
	disabled
	oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
	disabled
	oneshot

# LPM
on property:ro.bootmode=charger
    mount ext4 /dev/block/mmcblk0p18 /system wait ro

on property:ro.bootmode=charger
    class_start sec-charger

service playlpm /system/bin/lpm
    class sec-charger
    user root
# SecEDS
service TvoutService_C /system/bin/bintvoutservice
     class main
     user system
     group graphics
on property:ro.SecEDS.enable=false
    stop TvoutService_C

#Knox VPN
service ipruleset /system/bin/ipruleset
    class main
    group vpn net_admin inet net_raw
    disabled
    oneshot

service sdumpstate /system/bin/dumpstate -P
    class main
    disabled
    oneshot
#RIL
service DR-daemon /system/bin/ddexe
    class main
    user root
    group system radio inet net_raw

service SMD-daemon /system/bin/smdexe
    class main
    user root
    group system radio inet net_raw

service BCS-daemon /system/bin/connfwexe
    class main
    user root
    group system radio inet net_raw

# Modem Logging daemon
service ML-daemon /system/bin/mlexe
    class main
    user root
    group system radio inet net_raw

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 root system    
    user root
    group system

# Modem Logging daemon
service ML-daemon /system/bin/mlexe
    class main
    user root
    group system radio inet net_raw

# umount service
service umount_service /system/bin/umount /preload
    disabled
    oneshot
    
# Support Preload install apks
on property:persist.sys.storage_preload=1
    mount ext4 /dev/block/mmcblk0p20 /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
    start umount_service
